body {
  background-color: rgb(212, 195, 172);
}

.col-sm-4 {
  background-color: honeydew;
  text-align: center;
  margin-left: 125px;
}

.labelBoxSpace {
  margin-right: 5px;
}

.boxToNextSpace {
  margin-right: 30px
}