body {
  background-color: rgb(73, 87, 107);
  margin-top: 50px;
  margin-bottom: 50px;
}

.col-sm-4 {
  text-align: center;
  margin-left: 125px;
}

.labelBoxSpace {
  margin-right: 5px;
}

.boxToNextSpace {
  margin-right: 30px
}

h1 {
  text-align: center;
}

h3 {
  color: white;
}

li {
  color: white;
}