@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h3>Are you sure you want to delete this machine?</h3>
<br>
<h3>@Html.DisplayFor(model => model.Name)</h3>
<br>
@using (Html.BeginForm())
{
    <input type="submit" class="btn btn-danger btn-md" value="Delete" />
}
<br>
<button class="btn btn-warning btn-md" onclick="location.href='@Url.Action("Index")'">Back to machines</button>